form{
    width: 400px; 
    height: 525px;
    margin: 100px auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #000000;
}

form fieldset{
    border: 0;
}

form fieldset label{
    display: block;
}

form fieldset input, textarea{
    width: 100%;
}

header, footer{
    background-color: #084B8A;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.contact p{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.area-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 100px;
}

.table{
    box-shadow: 0px 1px 5px #000000;
    border-radius: 10px;
    transition: transform .2s;
}

.table:hover{
    transform: scale(1.05);
}

.table table{
    border-collapse: collapse;
    width: 100%;
}

.table p{
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 10px 10px 0 0;
}

tr, td{
    padding: 25px;
}

.day-hour{
    font-weight: 700;
}

.butn-submit{
    color: #000000;
    background: #C0C0C0;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 5px;
    line-height: 5px;
    margin-top: 15px;
    text-align: center;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 20px;
}

.butn-submit:hover{
    transform: scale(1.1);
}




